<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="./assets/tailwind-output.css" rel="stylesheet">
		{{ 'main.css' | asset_url | stylesheet_tag }}
		{{ 'styles-tw-output.css' | asset_url | stylesheet_tag }}
		<title>{{ shop.name }}</title>
		{{ content_for_header }}
	</head>
	<body>
		{{ content_for_layout }}
	</body>
</html>